/*
学発2013 スタイルシート
作成:twinkfrag
*/

html {
  width: 100%;
  height: 100%;
}
body {
  padding-top: 60px;
  padding-bottom: 40px;
}
.map {
  text-align: center;
}

p#impact {
  color: red;
  font-weight: bold;
}

tr#done {
  opacity: 0.4;
}
